.container > div {
  max-width: 2048px;
}

main {
  background-color: #C1272D;
}
main header h1 {
  color: #F4F5F7 !important;
}

main header div {
  color: #F9E6E6;
}

main div.content > div {
  padding: 2rem 2.5rem 1rem 2.5rem;
}

main div.content > div > div {
  border-radius: 1.4rem 1.4rem 1.4rem 1.4rem;
  padding: 2rem 1rem 2rem 1.6rem;
  background-color: #F4F5F7;
  outline: dashed 5px #F4F5F7;
  outline-offset: 2.3rem;
  margin-bottom: 7.4em;
}

aside {
  background:
    linear-gradient(to bottom, transparent 10%, transparent 80%, #F4F5F7 100%),
    url(../../images/bk_check_02.png);
  background-size: 343px;
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
}

main > div > div > footer {
  border-top: 2px dashed #F4F5F7;
  padding: 3rem 0 0;
}

main > div > footer {
  margin-bottom: auto;
  padding: 3rem 0 0.6rem 0;
}
