.main {
  padding: 2rem 2.5rem 1rem 2.5rem;
}

.main header {
  padding: 0 0 20px;
}
.main footer {
  border-top: 2px dashed #F4F5F7;
  margin: 0 auto;
  padding: 3rem 0 0;
}
@media (max-width: 640px) {
  .main footer {
    margin: 0 auto 40px;
  }
}

.post {
  border-radius: 1.4rem 1.4rem 1.4rem 1.4rem;
  position: relative;
  z-index: 1;
  padding: 2rem 1rem 2rem 1.6rem;
  background-color: #F4F5F7;
  outline: dashed 5px #F4F5F7;
  outline-offset: 2.3rem;
  margin-bottom: 7.4em;
}
@media (max-width: 640px) {
  .post {
    outline-offset: 1.65rem;
    margin-bottom: 5.5rem;
  }
}

.post :global(h3) {
  margin: 0;
  color: var(--fg);
}
.post footer {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
}
